@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  overflow-y: hidden;
}

.content {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4cceac;
  border-radius: 10px;
}

/* 
.pro-menu ul li:first-child>div {
  padding-right: 0 !important;
}

.pro-menu ul.MuiBox-root li:first-child>div {
  padding: 5px 35px 5px 20px !important
}

.pro-menu ul li:first-child>div span .MuiBox-root {
  margin: 0;
  justify-content: center;
} */